@media screen and (min-width : 1000px){
    
    html{
        width: 100%;
        text-align: center;
    }
    body{
        z-index: -5;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'True Gothic Cyr';
        font-size: 32px;
        background: rgba(0, 0, 0, 0.95);
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 10px white;
    }
    .bg{
        background: fixed center center url(../img/backgr.png) no-repeat;
        width: 100%;
        height: 100%;
        z-index: -55;
        background-size: 100%;
        position: fixed;
        background-size: cover;
    }
    header{
        left: 0;
        border-left: 0;
        top: 0;
        position: fixed;
        background-color: black;
        box-shadow: 1px 1px 10px white;
        box-shadow: 1px;
        width: 100%;
        height: 100px;
        z-index: 1000;
    }
    .icon{
        z-index: calc(inherit + 1);
        width: 60px;
        margin-top: 20px;
    }
    #icon_but{
        background-color: black;
    }
    .nav_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .nav_list>li{
        margin-right: 10px;
    }
    a{
        text-decoration:none;
        color:inherit;
    }
    span{
        text-shadow: 1px 1px 10px white;
        color: white;
    }
    #music_control_img{
        width: 40px;
    }
    #music_control{
        background-color: black;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px white;
    }
    .content{
        width: 100%;
        z-index: 0;
        border-top: 1px solid white;
        display: flexbox;
        flex-wrap: wrap;   
        justify-content: center; 
        flex-direction: row;
        align-items: center;
    }
    .sw{
        width: 100%;
    }
    #h1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    h1{
       /* position: relative;*/
        margin-top: 300px;
        color: black;
        font-family: 'True Gothic Cyr';
        font-size: 128px;  
        text-align: center;
        opacity: 0.5; 
    }
    .form_title{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .slider_container{
        background-color: black;
        width: 100%;
        box-shadow: 2px 2px 40px black,
        -2px 2px 20px black,
        2px -2px 20px black,
        -2px -2px 20px black;
    }
    .slider{
        width: 100%;
        margin-top: calc(50vh);
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position:relative;
        height: fit-content;
       /* background: url(../img/Noxus_The_Immortal_Bastion_01.webp) no-repeat;*/
    }
    .main_container {
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        background-size: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
    }
    .info{
        box-shadow: 
            5px 5px 50px black,
            -5px -5px 50px black,
            5px -5px 50px black,
            -5px 5px 50px black ;
        color: white;
        max-width: 33%;
        font-size: 24px;
        margin-top: 125px;
        margin-bottom: 125px;
        min-width: 80%;
        height: 33%;
        background-color: black;
        text-align: justify;
    }
    #main_img{
        box-shadow: 
            5px 5px 50px black,
            -5px -5px 50px black,
            5px -5px 50px black,
            -5px 5px 50px black ;
        margin-top: 125px;
        height: 33%;
        width: 80vw;
        min-width: 50%;
    }
    .player_container{
        margin-bottom: 125px;
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        width: 100%;
        height: 443px;
        background-color: black;
        padding-bottom: 100px;
        padding-top: 100px;
        margin-top: 1px;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }
    #player{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 100%;
        z-index: 50;
    }
    .tails_container 
    {
        z-index: 100;
        margin-top: 100px;
        width: 100%;
        background-color: black;
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        flex-direction: row;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10vh;
        text-align: center;
    }
    .tail1
    {
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 32vw;
        height: 32vh;
        background: center center url(../img/noxus-perpetual-conflict.jpg) no-repeat;
        background-size: cover;
        min-width: calc(780px / 3);
    }
    .tail1>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail1>a{
        color: white;
        margin-left: 40%;
    }
    .tail2
    {
        min-width: calc(780px / 3);
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 32vw;
        height: 32vh;
        background:  center center url(../img/swain-color-story-bg.jpg) no-repeat;
        background-size: cover;
    }
    .tail2>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail2>a{
        color: white;
        margin-left: 40%;
    }
    .tail3
    {  
        min-width: calc(780px / 3);
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 32vw;
        height: 32vh;
        background:  center center url(../img/proclamation-splash.jpg) no-repeat;
        background-size: cover;
    } 
    .tail3>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail3>a{
        color: white;
        margin-left: 40%;
    }
    #army{
        box-shadow: 2px 2px 20px black,
        -2px 2px 20px black,
        2px -2px 20px black,
        -2px -2px 20px black;
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
        padding: 10px;
    }
    .form_inp{
        box-shadow: inherit;
        color: white;
        opacity: 0.7;
        font-size: inherit;
        font-family: inherit;
        height: 50px;
        margin-bottom: 10px;
        background-color:rgba(0, 255, 255, 0);
        border: 5px solid black;
        text-align: center;
    }
    select{
        appearance: none; 
    }
    ::-webkit-input-placeholder{
        color:inherit;
    }
    :-moz-placeholder{
        color: inherit;
    }
    ::-moz-placeholder{
        color: inherit;
    }
    :-ms-input-placeholder{
        color: inherit;
    }
    option{
        color:black;
    }
    #form_but{
        height: fit-content;
    }
    #form_but:hover{
        transform: scale(1.05);
        transition: transform 0.2s;
    }
    #form_but:active{
        transform: scale(1.1);
        transition: transform 0.2s;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -2px -2px 20px black;
        margin-top: 50px;
        bottom: 0;
        background-color: inherit;
        width: 100%;
        height: 200px;
    }
    .footer_ul{
        display: flex;
        justify-content: space-around;
    }
    .footer_ul>li{
        font-size: 48px;
        margin-left: 50px;
    }
    .fa-brands:hover{
        transform: scale(1.2);
    }
}
@media screen and (max-width : 1000px){ 
    html{
        width: 100%;
        text-align: center;
    }
    body{
        z-index: -5;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'True Gothic Cyr';
        font-size: 32px;
        background: rgba(0, 0, 0, 0.95);
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 10px white;
    }
    .bg{
        background: fixed center center url(../img/backgr.png) no-repeat;
        width: 100%;
        height: 100%;
        z-index: -55;
        background-size: 100%;
        position: fixed;
        background-size: cover;
    }
    header{
        left: 0;
        border-left: 0;
        top: 0;
        position: fixed;
        background-color: black;
        box-shadow: 1px 1px 10px white;
        box-shadow: 1px;
        width: 100%;
        height: 10vh;
        z-index: 1000;
        display: flex;
    }
    .icon{
        height: 5vh;
        margin-top: 2.5vh;
    }
    .nav_list{
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .nav_list>li{
        margin-right: 10px;
    }
    a{
        text-decoration:none;
        color:inherit;
    }
    span{
        text-shadow: 1px 1px 10px white;
        color: white;
    }
    #music_control_img{
        width: 40px;
    }
    #music_control{
        background-color: black;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px white;
    }
    .content{
        width: 100%;
        z-index: 0;
        border-top: 1px solid white;
        display: flexbox;
        flex-wrap: wrap;   
        justify-content: center; 
        flex-direction: row;
        align-items: center;
    }
    .sw{
        width: 100%;
    }
    #h1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 64px;
        margin-bottom: 50px;
    }
    h1{
       /* position: relative;*/
        margin-top: 50vh;
        color: black;
        font-family: 'True Gothic Cyr';
        font-size: 256px;  
        text-align: center;
        opacity: 0.5; 
    }
    .form_title{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .slider_container{
        background-color: black;
        width: 100%;
        box-shadow: 2px 2px 40px black,
        -2px 2px 20px black,
        2px -2px 20px black,
        -2px -2px 20px black;
    }
    .slider{
        width: 100%;
        margin-top: calc(50vh);
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position:relative;
        height: fit-content;
       /* background: url(../img/Noxus_The_Immortal_Bastion_01.webp) no-repeat;*/
    }
    .main_container {
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        background-size: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
    }
    .info{
        box-shadow: 
            5px 5px 50px black,
            -5px -5px 50px black,
            5px -5px 50px black,
            -5px 5px 50px black ;
        color: white;
        max-width: 33%;
        font-size: 48px;
        margin-top: 125px;
        margin-bottom: 125px;
        min-width: 80%;
        height: 33%;
        background-color: black;
        text-align: justify;
    }
    #main_img{
        box-shadow: 
            5px 5px 50px black,
            -5px -5px 50px black,
            5px -5px 50px black,
            -5px 5px 50px black ;
        margin-top: 125px;
        height: 33%;
        width: 80vw;
        min-width: 50%;
    }
    .player_container{
        margin-bottom: 125px;
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        width: 100%;
        height: 443px;
        background-color: black;
        padding-bottom: 100px;
        padding-top: 100px;
        margin-top: 1px;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }
    #player{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 100%;
        z-index: 50;
    }
    .tails_container 
    {
        z-index: 100;
        margin-top: 100px;
        width: 100%;
        background-color: black;
        box-shadow: 2px 2px 20px black,
                    -2px 2px 20px black,
                    2px -2px 20px black,
                    -2px -2px 20px black;
        flex-direction: row;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10vh;
        text-align: center;
    }
    .tail1
    {
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 80vw;
        height: 32vh;
        background: center center url(../img/noxus-perpetual-conflict.jpg) no-repeat;
        background-size: cover;
        min-width: calc(780px / 3);
    }
    .tail1>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail1>a{
        color: white;
        margin-left: 40%;
    }
    .tail2
    {
        min-width: calc(780px / 3);
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 80vw;
        height: 32vh;
        background:  center center url(../img/swain-color-story-bg.jpg) no-repeat;
        background-size: cover;
    }
    .tail2>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail2>a{
        color: white;
        margin-left: 40%;
    }
    .tail3
    {  
        min-width: calc(780px / 3);
        box-shadow: 1px 1px 10px white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: flex-end;
        width: 80vw;
        height: 32vh;
        background:  center center url(../img/proclamation-splash.jpg) no-repeat;
        background-size: cover;
    } 
    .tail3>p{
        color: white;
        opacity: 0.8;
        font-size: 48px;
    }
    .tail3>a{
        color: white;
        margin-left: 40%;
    }
    #army{
        box-shadow: 2px 2px 20px black,
        -2px 2px 20px black,
        2px -2px 20px black,
        -2px -2px 20px black;
        height: 30vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px;
    }
    .form_inp{
        box-shadow: inherit;
        color: white;
        opacity: 0.7;
        font-size: inherit;
        font-family: inherit;
        height: 25%;
        margin-bottom: 10px;
        background-color:rgba(0, 255, 255, 0);
        border: 5px solid black;
        text-align: center;
    }
    select{
        appearance: none; 
    }
    ::-webkit-input-placeholder{
        color:inherit;
    }
    :-moz-placeholder{
        color: inherit;
    }
    ::-moz-placeholder{
        color: inherit;
    }
    :-ms-input-placeholder{
        color: inherit;
    }
    option{
        color:black;
    }
    #form_but{
        height: 25%;
    }
    #form_but:hover{
        transform: scale(1.05);
        transition: transform 0.2s;
    }
    #form_but:active{
        transform: scale(1.1);
        transition: transform 0.2s;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -2px -2px 20px black;
        margin-top: 50px;
        bottom: 0;
        background-color: inherit;
        width: 100%;
        height: 20vh;
    }
    .footer_ul{
        display: flex;
        justify-content: space-around;
    }
    .footer_ul>li{
        font-size: 10vh;
        margin-left: 50px;
    }
    .fa-brands:hover{
        transform: scale(1.2);
    }
}